In [26]:
import json
import os
import pandas as pd

In [8]:
os.walk(".")

In [11]:
os.path.exists('sample_data/wine-ratings.json')

True

In [27]:
df = pd.read_json('sample_data/wine-ratings.json')

In [28]:
df.head()

,name,grape,region,variety,rating,notes
0,Laurenz V Charming Gruner Veltliner 2013,NaN,"Kamptal, Austria",White Wine,90,Aromas of ripe apples and a typical Veltliner ...
1,Laurenz V Charming Gruner Veltliner 2014,NaN,"Kamptal, Austria",White Wine,90,Aromas of ripe apples and a typical Veltliner ...
2,Laurenz V Singing Gruner Veltliner 2007,NaN,Austria,White Wine,90,"A very attractive fruit bouquet yields apple, ..."
3,Laurenz V Singing Gruner Veltliner 2010,NaN,Austria,White Wine,88,"A very attractive fruit bouquet yields apple, ..."
4,Laurenz V Singing Gruner Veltliner 2011,NaN,Austria,White Wine,88,"A very attractive fruit bouquet yields apple, ..."

In [39]:
filter_df = df[(df.variety == 'Red Wine') | (df.variety=="White Wine")]

In [43]:
filter_df = filter_df[(filter_df.rating >= 90) & (filter_df.rating<=92)]

In [44]:
filter_df = filter_df[filter_df.region == "Austria"]

In [45]:
filter_df.to_json("filterdata.json")

array([90, 88, 89, 91, 93, 92, 97, 96, 95, 94, 98, 99, 86, 87, 85])